{% extends 'base.html.twig' %}
{# the CSS file lives at "public/css/blog.css" #}

{% block body %}
   <link href="{{ asset('css/connection.css') }}" rel="stylesheet"/>
    <div class="container">
        <h1 class="row justify-content-center titleLogin">Identification</h1>
        <hr class="w-25 "/>
        <div class="d-flex justify-content-center">
            <div class="border border-dark rounded w-25 p-3">
                <form method="post" action="{{ path('security_login') }}">
                    <div class="col">
                        <label class="identifiantColor">Username :</label>
                        <input type="text" class="form-control formControlPerso" name="_username">
                    </div>
                    <div class="col">
                        <label class="identifiantColor">Mot de passe :</label>
                        <input type="password" class="form-control formControlPerso" name="_password">
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-outline-white">S'identifier</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- NOTES -->
        <hr class="w-25"/>
        <h5>Fonctionnalités à venir :</h5>
        <p>- mot de passe oublié</p>
        <p>- alerte en cas d'erreur d'authentification</p>
    </div>

{% endblock %}
